h1 {
  text-align: center;
}

.board {
  padding: 3em;
}

.row > div {
  float: left;
  width: 100px;
  height: 100px;
  margin: auto;
  cursor: pointer;
}

.row {
  margin: auto;
  height: 302px;
  width: 302px;
  clear: both;
}

.top-left,
.top-middle,
.middle-left,
.center {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.bottom-left,
.bottom-middle {
  border-right: 1px solid black;
}

.top-right,
.middle-right {
  border-bottom: 1px solid black;
}
