
.board {
  padding: 3em;
  text-align: center;
  display: inline-block;
}

.top-left,
.top-middle,
.top-right {
  float: left;
  height: 100px;
  width: 100px;
  border-bottom: 1px solid black;
}
.middle-left,
.center,
.middle-right {
  float: left;
  height: 100px;
  width: 100px;
}
.bottom-left,
.bottom-middle,
.bottom-right {
  float: left;
  height: 100px;
  width: 100px;
  border-top: 1px solid black;
}

.topRow, .middleRow, .bottomRow {
  clear: both;
  margin: auto, 0;
  width: 302px;
}

#columnA {
    border-right: 1px solid black;
}

#columnC {
    border-left: 1px solid black;
}
